@using EasyAbp.AbpHelper.Gui.Localization
@inherits GuiComponentBase

<Modal @ref="_modal">
    <ModalBackdrop />
    <ModalContent Size="ModalSize.Large" IsCentered="true">
        <ModalHeader>
            <ModalTitle>@L["InstallationActuator"]</ModalTitle>
            <CloseButton Clicked="CloseModal" />
        </ModalHeader>
        <ModalBody MaxHeight="50">
            
                @foreach (var addManyModuleInput in AddInputList)
                {
                    @foreach (var installationInfo in addManyModuleInput.InstallationInfos)
                    {
                        <Field>
                            <span style="color: #008000"><b>[Add] </b></span>
                            <span><b>@($"{installationInfo.ModuleGroupId}.{installationInfo.ModuleId}")</b></span>
                            @if (addManyModuleInput.SpecifiedVersion != null)
                            {
                                <span>@($" (v{addManyModuleInput.SpecifiedVersion})")</span>
                            }
                            <span> to <b>@installationInfo.Targets.JoinAsString(", ")</b></span>
                        </Field>
                    }
                }
                
                @foreach (var removeManyModuleInput in RemoveInputList)
                {
                    @foreach (var installationInfo in removeManyModuleInput.InstallationInfos)
                    {
                        <Field>
                            <span style="color: #ff0000"><b>[Remove] </b></span>
                            <span><b>@($"{installationInfo.ModuleGroupId}.{installationInfo.ModuleId}")</b></span>
                            <span> from <b>@installationInfo.Targets.JoinAsString(", ")</b></span>
                        </Field>
                    }
                }
            
            <Divider />
            
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="CloseModal">@L["Cancel"]</Button>
            <Button Color="Color.Primary" Clicked="ExecuteAsync" Disabled="@Executing" Loading="@Executing">@L["Execute"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>