@using EasyAbp.AbpHelper.Gui.Localization
@using EasyAbp.AbpHelper.Gui.Blazor.Pages.Shared;
@using EasyAbp.AbpHelper.Gui.AbpCli.New.Dtos
@inherits ExecutableComponentBase
@inject AbpBlazorMessageLocalizerHelper<GuiResource> Lh

<Card Class="mb-4">
    <CardHeader>
        @* ************************* PAGE HEADER ************************* *@
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h3>@L["AbpCli_New_CreateModule"]</h3>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <Form>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["SolutionName"]</FieldLabel>
                    <TextEdit @bind-Text="Input.SolutionName" Autofocus="true">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["OutputFolder"]</FieldLabel>
                    <TextEdit @bind-Text="Input.OutputFolder">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["Version"]</FieldLabel>
                    <TextEdit @bind-Text="Input.Version">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["TemplateSource"]</FieldLabel>
                    <TextEdit @bind-Text="Input.TemplateSource">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["ConnectionString"]</FieldLabel>
                    <TextEdit @bind-Text="Input.ConnectionString">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Field>
                <FieldLabel>@L["DatabaseManagementSystem"]</FieldLabel>
                <Select TValue="Database" @bind-SelectedValue="Input.DatabaseManagementSystem">
                    @foreach (var database in Enum.GetValues<Database>())
                    {
                        <SelectItem Value="database">
                            @L[$"Database:{Enum.GetName(database)}"]
                        </SelectItem>
                    }
                </Select>
            </Field>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["LocalFrameworkRef"]</FieldLabel>
                    <TextEdit @bind-Text="Input.LocalFrameworkRef">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Field>
                <Check TValue="bool" @bind-Checked="@Input.NoUi">@L["NoUi"]</Check>
            </Field>
            <Field>
                <Check TValue="bool" @bind-Checked="@Input.Preview">@L["Preview"]</Check>
            </Field>
            <Field>
                <Check TValue="bool" @bind-Checked="@Input.CreateSolutionFolder">@L["CreateSolutionFolder"]</Check>
            </Field>
            <Field>
                <Check TValue="bool" @bind-Checked="@Input.NoRandomPort">@L["NoRandomPort"]</Check>
            </Field>
            
            <SubmitButton Block="true" Clicked="@ExecuteAsync" />
        </Form>
    </CardBody>
</Card>