@using EasyAbp.AbpHelper.Gui.Localization
@using EasyAbp.AbpHelper.Gui.AbpCli.Add.Dtos;
@using EasyAbp.AbpHelper.Gui.Blazor.Pages.Shared;
@inherits ExecutableComponentBaseWithRunningPath<AbpAddPackageInput>
@inject AbpBlazorMessageLocalizerHelper<GuiResource> Lh

<Card Class="mb-4">
    <CardBody>
        <Form>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["RunningPath"]</FieldLabel>
                    <TextEdit @bind-Text="Input.RunningPath">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["AbpCli_Add:PackageName"]</FieldLabel>
                    <TextEdit @bind-Text="Input.PackageName">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["AbpCli_Add:Project"]</FieldLabel>
                    <TextEdit @bind-Text="Input.Project" Autofocus="true">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            
            <SubmitButton Block="true" Clicked="@ExecuteAsync" />
        </Form>
    </CardBody>
</Card>