@using EasyAbp.AbpHelper.Gui.Localization
@using EasyAbp.AbpHelper.Gui.AbpCli.Translate.Dtos;
@using EasyAbp.AbpHelper.Gui.Pages.Shared;
@inherits ExecutableComponentBaseWithDirectory<AbpCreateTranslationFileInput>
@inject AbpBlazorMessageLocalizerHelper<GuiResource> Lh

<Card Class="mb-4">
    <CardBody>
        <Form>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["Directory"]</FieldLabel>
                    <TextEdit @bind-Text="Input.Directory" Autofocus="true">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["AbpCli_Translate:Culture"]</FieldLabel>
                    <TextEdit @bind-Text="Input.Culture">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["AbpCli_Translate:ReferenceCulture"]</FieldLabel>
                    <TextEdit @bind-Text="Input.ReferenceCulture">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation MessageLocalizer="@Lh.Localize">
                <Field>
                    <FieldLabel>@L["AbpCli_Translate:Output"]</FieldLabel>
                    <TextEdit @bind-Text="Input.Output">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Field>
                <Check TValue="bool" @bind-Checked="@Input.AllValues">@L["AbpCli_Translate:AllValues"]</Check>
            </Field>

            <SubmitButton Block="true" Clicked="@ExecuteAsync"/>
        </Form>
    </CardBody>
</Card>