@page "/"
@using Volo.Abp.MultiTenancy
@inherits GuiComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="container">

    <Alert Color="Color.Info" @bind-Visible="@UpdateCheckAlertVisible">
        <AlertMessage>
            @L["UpdateCheckAlertMessage"]
        </AlertMessage>
        <AlertDescription>
            <Blazorise.Link To="https://github.com/EasyAbp/AbpHelper.GUI/releases" Target="Target.Blank" Style="color: #0c5460">
                @L["UpdateCheckAlertDescription", LatestVersion]
            </Blazorise.Link>
        </AlertDescription>
        <CloseButton/>
    </Alert>
    
    <div class="p-5 text-center" style="margin-top: 100px">

        <h1>@L["Welcome"]</h1>

        <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>
        
        <p>ABP v@(GetAbpVersion())<br/>AbpHelper GUI v@(GetAbpHelperGuiVersion())</p>
    </div>
    
</div>
